@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition", "compass/css3/opacity";

@include font-face("Antikvar.ttf", font-files("Antikvar.ttf.ttf"));

@mixin transition($time) {
  -webkit-transition: all ease-in-out $time;
     -moz-transition: all ease-in-out $time;
       -o-transition: all ease-in-out $time;
          transition: all ease-in-out $time;
}

$font-Antikvar: "Antikvar", cursive;
$pink-border: 1px solid rgba(121, 0, 60, 0.1);

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
  font-family: "Jura", "san-serif";
  line-height: 22px;
}

/* CONTENT */
.container-fluid {
  background-color: #f9f2f4;
}
/* HEADER PARALLAX */
.model-box {
    position: relative; // !!! making it the anchor for header parallaxing elements
    height: 540px;
    background-image: url(../images/bg-header-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden; // !!! hide parts of parallaxing elements
  .logo {
      height: 150px;
      width: 100%;
      background-image: url(../images/logo-sm.png);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 35%;
      margin-top: -75px;
      right: 1%;
    }
  .model {
    position: absolute;
    max-width: 630px;
    top: 110px;
    right: 0;
    bottom: 0;
  }
  .siluet {
    position: absolute;
    max-width: 250px;
    @include opacity(0.5);
  }
}

/* Gallery-content */
.gallery-content {
  margin-top: 10px;
  .title {
    h2 {
      font-family: $font-Antikvar;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 20px;
      font-size: 30px;
    }
    p {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  /* Periscope */
  .periscope {
    margin-top: 150px;
    .siluet-content {
      position: relative;
      overflow: hidden;
      height: 720px;
      background-image: url("../images/bg-periscope2.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border: 1px solid rgba(121, 0, 60, 0.1);
      .siluet-content-img {
        position: absolute;
        left: 15px;
        bottom: 680px;
        max-width: 250px;
        @include opacity(0.6);
      }
    }
  }
  /* Gallery */
  .gallery {
    figure {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      float: right;
      margin-bottom: 30px;
      @include opacity(0);
      transform: translateX(10px);  //images appeare from right
      @include transition(.6s);
      &:hover {
        figcaption {
          left: 0%;   //figcaption appears from the left
        }
        img {
          transform: scale(1.17); //zooming images on hover
          @include transition(.5s); //make zooming smooth
          border: $pink-border;
          border-radius: 10px;
        }
      }
      &.is-showing {
        @include opacity(1);
        transform: translateX(0px);
      }
      img {
        @include transition(.5s);
        border: $pink-border;
        border-radius: 10px;
        transform: scale(1);   //zooming images
      }
      figcaption {
        position: absolute;
        bottom: 0px;
        left: -100%;  //figcaption appears from the left
        border-top: $pink-border;
        border-right: $pink-border;
        border-top-right-radius: 30px;
        background-color: #ffffff;
        padding: 2px 20px;
        font-size: 14px;
        @include transition(.3s);
        @include opacity(0.85);
        .price {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

/* Periscope-footer */
.periscope-footer {
  margin-top: 100px;
  .siluet-content-footer {
    position: relative;
    overflow: hidden;
    height: 620px;
    background-image: url("../images/bg-periscope2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid rgba(121, 0, 60, 0.1);
    .siluet-content-img-footer {
      position: absolute;
      left: 15px;
      bottom: 680px;
      max-width: 250px;
      @include opacity(0.6);
    }
  }
}


//USING BACKGROUND INSTEAD OF IMAGES
//.model-box {
//  position: relative; // !!! making it the anchor for header parallaxing elements
//  height: 500px;
//  background-image: url(../images/bg-header.jpg);
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position: top center;
//  background-attachment: fixed;
//  overflow: hidden; // !!! hide parts of parallaxing elements
//  .logo {
//    height: 150px;
//    width: 100%;
//    background-image: url(../images/logo-sm.png);
//    background-repeat: no-repeat;
//    background-position: center;
//    position: absolute;
//    top: 35%;
//    margin-top: -75px;
//    right: 1%;
//  }
//  .model {
//    width: 636px;
//    height: 600px;
//    background-image: url(../images/model.png);
//    background-repeat: no-repeat;
//    position: absolute;
//    left: 56%;
//    top: 85px;
//  }
//  .siluet {
//    width: 270px;
//    height: 695px;
//    background-image: url(../images/siluet-sm.png);
//    background-repeat: no-repeat;
//    background-position: top left;
//    position: absolute;
//    top: 10px;
//    left: 5%;
//    @include opacity(0.7);
//  }
//}


