@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition", "compass/css3/opacity";

@include font-face("Antikvar.ttf", font-files("Antikvar.ttf.ttf"));

@mixin transition($time) {
  -webkit-transition: all ease-in-out $time;
     -moz-transition: all ease-in-out $time;
       -o-transition: all ease-in-out $time;
          transition: all ease-in-out $time;
}
%h2-style {
  font-family: Antikvar, cursive;
  text-align: center;
  font-size: 32px;
  color: #737373;
}

$font-Antikvar: "Antikvar", cursive;
$pink-border: 1px solid rgba(121, 0, 60, 0.1);

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
  font-family: "Jura", "san-serif";
  line-height: 22px;
  color: #525252;
}

/* CONTENT */
.container-fluid {
  margin-bottom: 220px;
  background-color: #f9f2f4;
}
/* HEADER PARALLAX */
.model-box {
    position: relative; // !!! making it the anchor for header parallaxing elements
    overflow: hidden;   // !!! hide parts of parallaxing elements
    height: 540px;
    background-image: url(../images/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
  .logo {
    position: absolute;
    height: 150px;
    width: 120%;
    margin-top: -75px;
    top: 35%;
    right: 1%;
    background-image: url(../images/logo-sm.png);
    background-repeat: no-repeat;
    background-position: center;
    }
  .model {
    position: absolute;
    max-width: 630px;
    top: 27%;
    right: 0;
    bottom: 0;
    padding: 0;
  }
  .siluet {
    position: absolute;
    max-width: 250px;
    @include opacity(0.5);
  }
}

/* GALLERY CONTENT */
.gallery-content {
  margin-top: 10px;
  .text-section {
    margin-top: 70px;
    h2 {
      @extend %h2-style;
      padding-top: 20px;
    }
    p {
      text-align: justify;
      padding: 30px 5px;
    }
  }
  /* Periscope */
  .periscope {
    margin-top: 120px;
    .siluet-content {
      position: relative;
      overflow: hidden;
      height: 720px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border: 1px solid rgba(121, 0, 60, 0.1);
      background-image: url("../images/bg-periscope.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      .siluet-content-img {
        position: absolute;
        max-width: 250px;
        bottom: 720px;
        @include opacity(0.6);
      }
    }
  }
  /* Gallery */
  .gallery {
    figure {
      position: relative;
      overflow: hidden;
      float: right;
      cursor: pointer;
      margin-bottom: 30px;
      @include opacity(0);
      @include transition(.6s);
      transform: translateX(10px);  //images appeare from right
      &:hover {
        figcaption {
          left: 0%;   //figcaption appears from the left
        }
        img {
          @include transition(.5s); //make zooming smooth
          @include border-radius(10px);
          border: $pink-border;
          transform: scale(1.17); //zooming images on hover
        }
      }
      &.is-showing {
        @include opacity(1);
        transform: translateX(0px);
      }
      img {
        @include transition(.5s);
        @include border-radius(10px);
        border: $pink-border;
        transform: scale(1);   //zooming images
      }
      figcaption {
        position: absolute;
        bottom: 0px;
        left: -100%;  //figcaption appears from the left
        @include transition(.3s);
        @include opacity(0.85);
        padding: 2px 20px;
        border-top: $pink-border;
        border-right: $pink-border;
        border-top-right-radius: 30px;
        background-color: #ffffff;
        font-size: 14px;
        .price {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

.history-section {
  margin-top: 40px;
  h2 {
    @extend %h2-style;
  }
  p {
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* PERISCOPE WITH PRICE */
.periscope-price-section {
  position: relative;
  margin-top: 50px;
  .periscope-price {
    position: relative;
    overflow: hidden;
    height: 480px;
    border: $pink-border;
    @include border-radius(50%);
    background-image: url("../images/periscope-price-model.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    .promo-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include border-radius(50%);
      text-align: center;
      background-color: rgba(0,0,0,0.6);
      color: white;
      display: flex;
      justify-content: center; //alignment of flex items
      align-items: center;
      .promo-title {
        font-family: $font-Antikvar;
        font-size: 42px;
        line-height: 1.5;
      }
      .from-style {
        font-weight: 300;
        font-size: 18px;
        font-style: italic;
        color: rgba(255,255,255,0.8);
      }
      .promo-price {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: -1.5px;
      }
      a {
        font-size: 18px;
        text-decoration: none;
        border: 1px solid white;
        color: white;
        padding: 10px 15px;
        @include transition(.4s);
        &:hover {
          color: black;
          background-color: rgba(255, 255, 255, 0.8);
          @include transition(.3s);
        }
      }
    }
  }
}

/* FLOATING SECTION */
.floating-section {
  margin-top: 40px;
  overflow: hidden;
  margin-bottom: 100px;
  position: relative;
  img {
    max-width: 100px;
  }
  p {
    text-align: center;
  }
  .arrow-left {
    transform: translate(100px, 20px);
  }
  .arrow-right {
    transform: translate(-100px, 20px);
  }
}

/* FOOTER */
.footer-section {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center; //alignment of flex items
  p {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
  }
  a {
    color: #000000;
    @include transition(.3s);
    &:hover {
      font-size: 18px;
      font-weight: bold;
      @include transition(.3s);
    }
  }
  .btn-footer {
    background-color: #f9f2f4;
    border: 1px solid rgba(221, 222, 222, 0.87);
    @include transition(.2s);
    &:hover {
      background-color: #f9f2f4;
      text-transform: uppercase;
      background-color: rgba(249, 242, 244, 0.5);
      @include transition(.3s);
    }
  }
  input {
    max-width: 150px;
  }
}

/* @media */
@include mq($max-width: 1060px) {
  .gallery-content {
    /* Gallery */
    .gallery {
      figure {
        padding-left: 0;
        figcaption {
          font-size: 12px;
          .price {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@include mq($max-width: 991px) {
  /* HEADER PARALLAX */
  .model-box {
    height: 500px;
    .logo {
      width: 120%;
      top: 35%;
    }
    .model {
      max-width: 500px;
      top: 31%;
    }
    .siluet {
      max-width: 200px;
      top: 17%;
    }
  }
  /* GALLERY CONTENT */
  .gallery-content {
    margin-top: 10px;
    /* Periscope */
    .periscope {
      margin-top: 100px;
      .siluet-content {
        height: 700px;
        .siluet-content-img {
          max-width: 200px;
          bottom: 700px;
          left: 0;
        }
      }
    }
    .text-section {
      margin-top: 20px;
    }
  }
}

@include mq($max-width: 767px) {
  /* HEADER PARALLAX */
  .model-box {
    height: 400px;
    .model {
      max-width: 400px;
      top: 28%;
    }
    .siluet {
      position: relative;
      display: none;
    }
  }
  /* GALLERY CONTENT */
  .gallery-content {
    /* Periscope */
    .periscope {
      margin-top: 0px;
      .siluet-content {
        position: relative;
        display: none;
      }
    }
  }
  /* FLOATING SECTION */
  .floating-section {
    .arrow-left {
      display: none;
    }
    .arrow-right {
      display: none;
    }
  }
}
@include mq($max-width: 650px) {
  /* HEADER PARALLAX */
  .model-box {
    height: 300px;
    .model {
      max-width: 270px;
      top: 30%;
    }
  }
}
@include mq($max-width: 550px) {
  /* HEADER PARALLAX */
  .model-box {
    height: 250px;
    .logo {
      width: 100%;
      margin-top: -55px;
      right: 0;
    }
    .model {
      display: none;
    }
  }
}
@include mq($max-width: 450px) {
  /* FOOTER */
  .footer-section {
    padding-bottom: 40px;
    p {
      font-size: 14px;
    }
    input {
      max-width: 100px;
    }
  }
}
@include mq($max-width: 400px) {
  /* HEADER PARALLAX */
  .model-box {
    height: 200px;
    .logo {
      height: 100px;
      margin-top: -25px;
      background-image: url(../images/logo-xs.png);
    }
  }
  /* FOOTER */
  .footer-section {
    p{
      text-decoration: underline;
    }
  }
}



