@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition";

@include font-face("???", font-files("???.ttf"));

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}

/* CONTENT */
.content {
  background-color: white;
  height: 1490px;
  h2 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 28px;
  }
  p {
    text-align: center;
    padding-top: 20px;
  }
}

/* HEADER PARALLAX */
.model-box {
  position: relative; // !!! making it the anchor for header parallaxing elements
  height: 800px;
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden; // !!! hide parts of parallaxing elements
  .logo {
    height: 150px;
    width: 100%;
    background-image: url(../images/logo-sm.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 35%;
    margin-top: -75px;
  }
  .model {
    width: 636px;
    height: 600px;
    background-image: url(../images/model.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 56%;
    top: 300px;
  }
  .siluet {
    width: 311px;
    height: 800px;
    background-image: url(../images/siluet-sm.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 80px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}




/* using images instead of background*/

//.model-box {
//  position: relative; // !!! making it the anchor for header parallaxing elements
//  height: 800px;
//  background-image: url(../images/bg-header.jpg);
//  background-repeat: repeat;
//  background-size: cover;
//  background-position: top center;
//  background-attachment: fixed;
//  .siluet {
//    img {
//      position: absolute;
//      max-width: 300px;
//      top: 30px;
//      opacity: 0.8;
//      filter: alpha(opacity=80); /* For IE8 and earlier */
//    }
//  }
//  .logo {
//    margin-top: 270px;
//  }
//  .model {
//    img {
//      position: relative;;
//    }
//  }
//}

