/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Antikvar.ttf";
  src: url('../fonts/Antikvar.ttf.ttf') format('truetype');
}
/* for Bootstrap */
/* line 8, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 9, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/**/
/* line 14, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 15, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 17, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* CONTENT */
/* line 23, ../sass/stylesheet.scss */
.content {
  height: 800px;
}

/* line 26, ../sass/stylesheet.scss */
.container-fluid {
  background-color: #f9f2f4;
}

/* HEADER PARALLAX */
/* line 30, ../sass/stylesheet.scss */
.model-box {
  position: relative;
  height: 540px;
  background-image: url(../images/bg-header-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}
/* line 39, ../sass/stylesheet.scss */
.model-box .logo {
  height: 150px;
  width: 100%;
  background-image: url(../images/logo-sm.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 35%;
  margin-top: -75px;
  right: 1%;
}
/* line 50, ../sass/stylesheet.scss */
.model-box .model {
  position: absolute;
  max-width: 630px;
  top: 110px;
  right: 0;
  bottom: 0;
}
/* line 57, ../sass/stylesheet.scss */
.model-box .siluet {
  position: absolute;
  max-width: 250px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

/* Gallery-content */
/* line 66, ../sass/stylesheet.scss */
.gallery-content {
  margin-top: 20px;
  /* Gallery */
  /* Periscope */
}
/* line 69, ../sass/stylesheet.scss */
.gallery-content .title h2 {
  font-family: "Antikvar", cursive;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 30px;
}
/* line 76, ../sass/stylesheet.scss */
.gallery-content .title p {
  text-align: center;
  padding-bottom: 20px;
}
/* line 83, ../sass/stylesheet.scss */
.gallery-content .gallery img {
  float: right;
  border: 1px solid rgba(121, 0, 60, 0.1);
  border-radius: 10%;
  margin-bottom: 30px;
}
/* line 92, ../sass/stylesheet.scss */
.gallery-content .periscope {
  margin-top: 50px;
}
/* line 94, ../sass/stylesheet.scss */
.gallery-content .periscope .siluet-content {
  position: relative;
  overflow: hidden;
  height: 640px;
  background-image: url("../images/bg-periscope2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid rgba(121, 0, 60, 0.1);
}
/* line 112, ../sass/stylesheet.scss */
.gallery-content .periscope .siluet-content .siluet-content-img {
  position: absolute;
  bottom: 680px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}
